@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700|Rubik:400,500&display=swap&subset=latin-ext');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css');
@import 'variables';
@import 'common';
@import 'navigation';
@import 'sidebar';
@import 'budgets';



.full-width {

    width: 100%;
    padding: 1rem;
}
.full-width svg {
    width: 100%;
}